*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: wheat;
}
.app{
  width: 500px;
}

.label-success{
  box-shadow: inset 5px 0px 0px 0px var(--bs-success);
}

.label-danger{
  box-shadow: inset 5px 0px 0px 0px var(--bs-danger);
}

.label-secondary{
  box-shadow: inset 5px 0px 0px 0px var(--bs-secondary);
}